@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,500,0,200");

:root {
	--font-sans: "Montserrat", -apple-system, sans-serif;
	--font-serif: "Lustria", serif;
	--font-mono: "Fira Mono", monospace;

	--column-width: 42rem;
	--column-margin-top: 4rem;

	--curve: cubic-bezier(0.08, 0.84, 0.1, 0.97);

	--toastBorderRadius: 0.8rem;
	--toastPadding: 0.5rem;
	--toastBarHeight: 0;
	--toastBackground: var(--color-bg-1);
	--toastColor: var(--color-text);

	--button-color: var(--color-theme-1);
	--button-background: transparent;
	--button-border: var(--button-color);
	--button-hover-color: var(--color-bg-1);
	--button-hover-background: var(--button-color);
	--button-active-background: var(--color-theme-1-light);

	--button-disabled-color: #0000004d;
	--button-disabled-background: #0000001a;
	--button-disabled-border: var(--button-disabled-background);

	--background-gradient: linear-gradient(
		90deg,
		var(--color-bg-1) 0%,
		var(--color-bg-2) 100%
	);

	transition: background-color 0.5s var(--curve), color 0.5s var(--curve);
	font-family: var(--font-sans);
}

.light-theme {
	--color-bg-1: #fcfcfc;
	--color-bg-2: #e0dbd4;
	--color-text-card: #e9e6e1;
	--bg-opacity: 0.25;
	--arrow-opacity: 0.5;
	--bg-grayscale: grayscale(0);
	--color-theme-1: #9e0814;
	--color-theme-2: #08244b;
	--color-theme-1-light: #e94d5a;
	--color-theme-2-light: #8ab7f7;
	--color-text: rgba(0, 0, 0, 0.7);

	--nav-color: #fcfcfcbb;

	--button-color: var(--color-theme-1);
	--button-background: transparent;
	--button-border: var(--button-color);
	--button-hover-color: var(--color-bg-1);
	--button-hover-background: var(--button-color);
	--button-active-background: var(--color-theme-1-light);

	--button-disabled-color: #0000004d;
	--button-disabled-background: #0000001a;
	--button-disabled-border: var(--button-disabled-background);

	--border: 1px solid #ccc;
	color: var(--color-text);
}

.reading-theme {
	--color-bg-1: #F1E8DE;
	--color-bg-2: #c2b9ae;
	--color-text-card: #F1E8DE;
	--bg-opacity: 0;
	--arrow-opacity: 0.5;
	--bg-grayscale: grayscale(0);
	--color-theme-1: #9e0814;
	--color-theme-2: #08244b;
	--color-theme-1-light: #e94d5a;
	--color-theme-2-light: #8ab7f7;
	--color-text: rgba(0, 0, 0, 0.7);

	--nav-color: #F1E8DEbb;

	--button-color: var(--color-theme-1);
	--button-background: transparent;
	--button-border: var(--button-color);
	--button-hover-color: var(--color-bg-1);
	--button-hover-background: var(--button-color);
	--button-active-background: var(--color-theme-1-light);

	--button-disabled-color: #0000004d;
	--button-disabled-background: #0000001a;
	--button-disabled-border: var(--button-disabled-background);

	--border: 1px solid #ccc;
	color: var(--color-text);
}

.dark-theme {
	--color-bg-1: #121212;
	--color-bg-2: #252525;
	--color-text-card: #1b1a19;
	--bg-opacity: 0.1;
	--arrow-opacity: 0.8;
	--bg-grayscale: grayscale(1);
	--color-theme-1: #D32F2F;
	--color-theme-2: #08244b;
	--color-theme-1-light: #fd2235;
	--color-theme-2-light: #4693ff;
	--color-text: rgba(255, 255, 255, 0.8);

	--nav-color: #121212bb;

	--button-color: var(--color-theme-1);
	--button-background: transparent;
	--button-border: var(--button-color);
	--button-hover-color: var(--color-bg-1);
	--button-hover-background: var(--button-color);
	--button-active-background: var(--color-theme-1-light);

	--button-disabled-color: #0000004d;
	--button-disabled-background: #0000001a;
	--button-disabled-border: var(--button-disabled-background);

	--button-color: #ffffff;
	--button-hover-color: #000000;
	--button-active-background: #ffffff;

	--border: 1px solid #666666;

	color: var(--color-text);
}

.high-contrast-theme {
	--color-bg-1: #000000;
	--color-bg-2: #080808;
	--color-text-card: #000000;
	--bg-opacity: 0;
	--arrow-opacity: 1;
	--bg-grayscale: grayscale(1);
	--color-theme-1: #ff2c3e;
	--color-theme-2: #08244b;
	--color-theme-1-light: #fd2235;
	--color-theme-2-light: #4693ff;
	--color-text: rgba(255, 255, 255, 1);

	--nav-color: #000000bb;

	--button-color: var(--color-theme-1);
	--button-background: transparent;
	--button-border: var(--button-color);
	--button-hover-color: var(--color-bg-1);
	--button-hover-background: var(--button-color);
	--button-active-background: var(--color-theme-1-light);

	--button-disabled-color: #0000004d;
	--button-disabled-background: #0000001a;
	--button-disabled-border: var(--button-disabled-background);

	--button-color: #ffffff;
	--button-hover-color: #000000;
	--button-active-background: #ffffff;

	--border: 1px solid white;

	color: var(--color-text);
}

.menu {
	border: var(--border);
}

::selection {
	background-color: var(--color-theme-1);
	color: var(--color-bg-1);
}

body {
	min-height: 100vh;
	margin: 0;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
	transition: color 0.2s ease;
}

a:hover {
	color: var(--color-theme-1-light);
	text-decoration: underline;
}

h1 {
	font-family: var(--font-serif);
	font-size: var(--font-size-xxlarge);
	font-weight: 700;
	margin: 1rem 0;
	padding-top: 3rem;
}

section.page p {
	font-family: var(--font-sans);
	font-size: var(--font-size-base);
	padding: 1em 0 1em 0;
	margin: 0.5rem 0;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

code {
	font-family: var(--font-mono);
	font-size: var(--font-size-small);
}

input {
	font-size: var(--font-size-base);
	font-family: inherit;
}

button {
	font-size: var(--font-size-small);
	font-family: inherit;
}

label {
	font-size: var(--font-size-small);
}

button:focus:not(:focus-visible) {
	outline: none;
}

gap {
	display: block;
	height: 3rem;
}

big-gap {
	display: block;
	height: 12rem;
}

/*  utils */
.col {
	display: flex;
	flex-flow: column wrap;
}

.row {
	display: flex;
	flex-flow: row wrap;
}

.v-align {
	display: flex;
	align-items: center;
}

.h-align {
	display: flex;
	justify-content: center;
}

.radius {
	border-radius: 0.5rem;
}
