@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,500,0,200");

:root {
	--font-sans: "Montserrat", -apple-system, sans-serif;
	--font-serif: "Lustria", serif;
	--font-mono: "Fira Mono", monospace;

	--color-bg-1: var(--light-color-bg-1);
	--color-bg-2: var(--light-color-bg-2);
	--color-text-card: var(--light-color-text-card);
	--bg-opacity: var(--light-bg-opacity);
	--color-theme-1: var(--light-color-theme-1);
	--color-theme-2: var(--light-color-theme-2);
	--color-theme-1-light: var(--light-color-theme-1-light);
	--color-theme-2-light: var(--light-color-theme-2-light);

	--color-text: var(--light-color-text);

	--column-width: 42rem;
	--column-margin-top: 4rem;

	--light-color-bg-1: #fcfcfc;
	--light-color-bg-2: #e0dbd4;
	--light-color-text-card: #e9e6e1;
	--light-bg-opacity: 0.25;
	--light-bg-grayscale: grayscale(0);
	--light-color-theme-1: #9e0814;
	--light-color-theme-2: #08244b;
	--light-color-theme-1-light: #e94d5a;
	--light-color-theme-2-light: #8ab7f7;
	--light-color-text: rgba(0, 0, 0, 0.7);

	--dark-color-bg-1: #121212;
	--dark-color-bg-2: #252525;
	--dark-color-text-card: #1b1a19;
	--dark-bg-opacity: 0.1;
	--dark-bg-grayscale: grayscale(1);
	--dark-color-theme-1: #f72435;
	--dark-color-theme-2: #08244b;
	--dark-color-theme-1-light: #fd2235;
	--dark-color-theme-2-light: #4693ff;
	--dark-color-text: rgba(255, 255, 255, 0.8);

	--hc-color-bg-1: #000000;
	--hc-color-bg-2: #080808;
	--hc-color-text-card: #000000;
	--hc-bg-opacity: 0;
	--hc-bg-grayscale: grayscale(1);
	--hc-color-theme-1: #ff2c3e;
	--hc-color-theme-2: #08244b;
	--hc-color-theme-1-light: #fd2235;
	--hc-color-theme-2-light: #4693ff;
	--hc-color-text: rgba(255, 255, 255, 1);

	--curve: cubic-bezier(0.08, 0.84, 0.1, 0.97);

	--border: 0px solid white;
	--background-gradient: linear-gradient(
		90deg,
		var(--color-bg-1) 0%,
		var(--color-bg-2) 100%
	);

	font-family: var(--font-sans);
	color: var(--color-text);
}

.menu {
	border: var(--border);
}

::selection {
	background-color: var(--color-theme-1);
	color: var(--color-bg-1);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-image: var(--background-gradient);
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
	transition: color 0.2s ease;
}

a:hover {
	color: var(--color-theme-1-light);
	text-decoration: underline;
}

h1 {
	font-family: var(--font-serif);
	font-size: var(--font-size-xxlarge);
	font-weight: 700;
	margin: 1rem 0;
	padding-top: 3rem;
}

section.page p {
	font-family: var(--font-sans);
	font-size: var(--font-size-base);
	padding: 1em 0 1em 0;
	margin: 0.5rem 0;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.v-align {
	display: flex;
	align-items: center;
}

input {
	font-size: var(--font-size-base);
	font-family: inherit;
}

button {
	font-size: var(--font-size-small);
	font-family: inherit;
}

label {
	font-size: var(--font-size-small);
}

button:focus:not(:focus-visible) {
	outline: none;
}

/*  utils */
.col {
	display: flex;
	flex-flow: column wrap;
}

.row {
	display: flex;
	flex-flow: row wrap;
}
