.light-theme {
	--color-bg-1: #fcfcfc;
	--color-bg-2: #e0dbd4;
	--color-text-card: #e9e6e1;
	--bg-opacity: 0.25;
	--bg-grayscale: grayscale(0);
	--color-theme-1: #9e0814;
	--color-theme-2: #08244b;
	--color-theme-1-light: #e94d5a;
	--color-theme-2-light: #8ab7f7;
	--color-text: rgba(0, 0, 0, 0.7);

	--button-color: var(--color-theme-1);
	--button-background: transparent;
	--button-border: var(--button-color);
	--button-hover-color: var(--color-bg-1);
	--button-hover-background: var(--button-color);
	--button-active-background: var(--light-color-theme-1-light);

	--button-disabled-color: #0000004d;
	--button-disabled-background: #0000001a;
	--button-disabled-border: var(--button-disabled-background);

	--border: 2px solid transparent;
}

.dark-theme {
	--color-bg-1: #121212;
	--color-bg-2: #252525;
	--color-text-card: #1b1a19;
	--bg-opacity: 0.1;
	--bg-grayscale: grayscale(1);
	--color-theme-1: #f72435;
	--color-theme-2: #08244b;
	--color-theme-1-light: #fd2235;
	--color-theme-2-light: #4693ff;
	--color-text: rgba(255, 255, 255, 0.8);

	--button-color: #ffffff;
	--button-hover-color: #000000;
	--button-active-background: #ffffff;
	--border: 2px solid white;
}

.high-contrast-theme {
	--color-bg-1: #000000;
	--color-bg-2: #080808;
	--color-text-card: #000000;
	--bg-opacity: 0;
	--bg-grayscale: grayscale(1);
	--color-theme-1: #ff2c3e;
	--color-theme-2: #08244b;
	--color-theme-1-light: #fd2235;
	--color-theme-2-light: #4693ff;
	--color-text: rgba(255, 255, 255, 1);

	--button-color: #ffffff;
	--button-hover-color: #000000;
	--button-active-background: #ffffff;
	--border: 2px solid white;
}